* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    padding: 0 !important;   
}
#navbar-barnd-logo {
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars {
    color: #fff !important;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}

/* banner section */
#banner {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
    padding-top: 5%;
}
.promo-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.play-btn {
    width: 45px;
    margin: 20px;
}
#banner a {
    color: #fff;
    text-decoration: none !important;
}
.bottom-img {
    position: relative;
    top: 0px;
    width: 100%;
    height: 100px;
}
.img-floid{
    width: 100%;
}

/* services section */
#services {
    padding: 80px 0px;
}
.service-img {
    width: auto;
    margin-top: 20;
    height: 9   0px;
}
.services h4 {
    padding: 5px;
    margin-top: 20px;
    text-transform: uppercase;
}
.title::before {
    content: '';
    background-color: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.title::after {
    content: '';
    background-color: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}
#services .btn-primary {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}

/* about us section */
#about-us {
    background-color: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}
#about-us ul li{
    list-style: none;
    margin: 10px 0px;
}
#about-us ul {
    margin-left: 20px;
}

/* testimonial */
#testimonials{
    margin: 100px 0px;

}
.testimonials{
    border-left: 4px solid #7b1798;
    margin-top: 50px;
    margin-bottom: 50px;
}
.testimonials img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}
.user-details{
    display: inline-block;
    font-size: 12px;
}

/* social media */
#social-media{
    background-color: #f8f9fa;
    padding: 100px 0;
}
#social-media p {
    font-size: 36px;
    margin-bottom: 30px;
}
.social-icons img{
    margin: 5px;
    width: 70px;
    transition: 0.5s;
}

.social-icons a:hover img{
    transform: translateY(-15px);
}

/* footer */
#footer{
    width: 100%;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
}
.footer-panel{
    padding: 2% 5%;
}
.footer-img{
    height: 100px;
    width: 100%;
}
.footer-box{
    padding: 20px;
}
.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}
.footer-box .fa{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}
.footer-box .form-control{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}
.footer-box .btn-primary
{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}
hr{
    background-color: #fff;
}
.copyright{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}